<ion-view view-title="Sala automação">
  <ion-content class="padding">
  	<ion-refresher pulling-text="Atualizando" on-refresh="atualizaDados()"  refreshing-text="Atualizando ..." refreshing-icon="ion-loading-b" ></ion-refresher>
    <center>
    <h2>Estado da sala</h2>
    <p ng-if="!dadosInvalidos">
      <span>Atualizado em : {{dados.data}} as {{dados.hora}}</span><br/>
   		<span>Luminosidade: </span>{{dados.luminosidade}}<br/>
      <span>Luminosidade2: </span>{{dados.luminosidade2}}<br/><br/>
   		<span>Movimentacao: </span>{{dados.movimentacao}}<br/>
   		<span>Movimentacao 2: </span>{{dados.movimentacao2}}<br/><br/>
   		<span>Temperatura: </span>{{dados.temperatura}}<br/>
      <span>Temperatura2: </span>{{dados.temperatura2}}<br/>
    </p>
    <p ng-if="dadosInvalidos">Arduino mestre não está conectado.</p></br>

    <p ng-if="!dadosInvalidosVoltagem1">
      <span>Atualizado em : {{dadosVoltagem1.data}} as {{dadosVoltagem1.hora}}</span><br/>
      <span>Corrente Sala 02: </span>{{dadosVoltagem1.corrente}} <b>A</b><br/>
      <span>Potencia Sala 02: </span>{{dadosVoltagem1.corrente*220}} <b>W</b><br/>
    </p>
    <p ng-if="dadosInvalidosVoltagem1">Arduino Sala02 não está conectado.</p></br>

    <p ng-if="!dadosInvalidosVoltagem2">
      <span>Atualizado em : {{dadosVoltagem2.data}} as {{dadosVoltagem2.hora}}</span><br/>
      <span>Corrente Sala 03: </span>{{dadosVoltagem2.corrente}} <b>A</b><br/>
      <span>Potencia Sala 03: </span>{{dadosVoltagem2.corrente*220}} <b>W</b><br/>
      
    </p>
    <p ng-if="dadosInvalidosVoltagem2">Arduino Sala03 não está conectado.</p></br>
    <br/><br/>
    
    <center><h2>1 rele <!--( <b>{{dados.rele1 == 1 ? 'Ligado' : 'Desligado'}} </b>)--></h2></center><br/>
    <button class="button" ng-click="ligaRele1()">Liga</button>
    <button class="button" ng-click="desligaRele1()">Desliga</button><br/>
   
    <center><h2>2 rele <!--( <b>{{dados.rele2 == 1 ? 'Ligado' : 'Desligado'}} </b>)--></h2></center><br/>
    <button class="button" ng-click="ligaRele2()">Liga</button>
    <button class="button" ng-click="desligaRele2()">Desliga</button><br/>
    
    <center><h2>3 rele <!--( <b>{{dados.rele3 == 1 ? 'Ligado' : 'Desligado'}} </b>)--></h2></center><br/>
    <button class="button" ng-click="ligaRele3()">Liga</button>
    <button class="button" ng-click="desligaRele3()">Desliga</button><br/>
    <br/><br/>

    IP:   <input ng-model="modelo.ip" /><br/>
    <br/>
    LDR1 Corte: <input ng-model="modelo.ldr1" /><button class="button button-small" ng-click="atualizaLDR1()">Atualiza</button><br/>
    LDR2 Corte: <input ng-model="modelo.ldr2" /><button class="button button-small" ng-click="atualizaLDR2()">Atualiza</button><br/>
    LDR1 Fator Correcao: <input ng-model="modelo.ldr1_fator" /><button class="button button-small" ng-click="atualizaLdr1Fator()">Atualiza</button><br/>
    LDR2 Fator Correcao: <input ng-model="modelo.ldr2_fator" /><button class="button button-small" ng-click="atualizaLdr2Fator()">Atualiza</button><br/> 
    <br/>
    Tempo de Resposta: <input ng-model="modelo.tdp" />MS<button class="button button-small" ng-click="atualizaMS()">Atualiza</button><br/>
    Amostras: <input ng-model="modelo.amostras" />MS<button class="button button-small" ng-click="atualizaAmostras()">Atualiza</button><br/>
    </center>
  </ion-content>
</ion-view>
